
.profile-img img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;

}

.card{
    &-section{
        max-width: 500px;

    }
    &-img{
        max-width: 500px;
        overflow: hidden;
        
    }
    &-img img{
        height: auto;
        max-width: 500px;
        overflow: hidden;

    }
}

.follower-img img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;

}

.profile, .follower-section{
    min-width: 250px;
}







