
.profile-img img{
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    object-fit: cover;

}



.card-section{
    max-width: 600px;


}

.card-img {

    max-width: 600px;
    overflow: hidden;
}

.card-img img{
    height: auto;
    max-width: 600px;
    overflow: hidden;

}

.navbar{

    background: rgba(113, 164, 109, 0.45);;
}





