
.profile-img img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;

}

.card{
    &-section{
        max-width: 600px;

    }
    &-img{
        max-width: 600px;
        overflow: hidden;
        
    }
    &-img img{
        height: auto;
        max-width: 600px;
        overflow: hidden;

    }
}

.follower-img img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;

}



// .card-section{
//     max-width: 600px;


// }

// .card-img {

//     max-width: 600px;
//     overflow: hidden;
// }

// .card-img img{
//     height: auto;
//     max-width: 600px;
//     overflow: hidden;

// }

.navbar{

    background: rgba(113, 164, 109, 0.45);;
}





